@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-BG: hsl(217, 54%, 11%);
  --card-BG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
  font-family: 'Outfit', sans-serif;
  background: var(--main-BG);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  max-width: 350px;
}
.wrapper{
  margin: 2rem 1rem;
  padding: 1.25rem;
  background-color: var(--card-BG);
  border-radius: 0.9375rem;
  box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.25);
}
.img-top{
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
}
.img-top img{
  width: 100%;
  display: block;
}
.img-overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(178, 100%, 50%, 0.5);
  display: none;
}
.img-overlay img{
  position: absolute;
  width: 3.125rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.img-top:hover .img-overlay{
  display: block;
}
.box-text h1{
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3125rem;
  padding: 1.25rem 0;
  display: inline-block;
  cursor: pointer;
}
.box-text h1:hover{
  color: var(--cyan);
}
p{
  color: var(--softBlue);
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5625rem 0;
}
.eth,.days{
  display: flex;
  align-items: center;
}
.eth p{
  color: var(--cyan);
  font-weight: 600;
  padding-left: 0.4375rem;
}
.days p{
  padding-left: 0.4375rem;
}
hr{
  border-color: var(--line);
}
.author{
  display: flex;
  align-items: center;
  padding-top: 0.3125rem;
}
.author img{
  height: 2.3125rem;
  width: 2.3125rem;
  border-radius: 50%;
  border: 0.125rem solid var(--white);
  margin-right: 0.9375rem;
}
.author p a.name{
  color: var(--white);
  font-size: 1rem;
  text-decoration: none;
}
.author p a.name:hover{
  color: var(--cyan);
}
